.ackrc
.attic
.cache
all
cmsg
CrawlConfig
crawler_pid
crawler.exit
DODO
.hpssic_version
history
hsitool*
ls.PR*
MANIFEST
md.checker.bart
NOTES*
TAGS
*_report.txt
test.d
ztool*
*.cfg
*.db
*.log
*.log.?
*.stderr
*.stdout
*.out
*.py[cod]
*~
\#*
.#*
plugins/*

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
