.attic
all
cmsg
crawl
CrawlConfig
crawler_pid
crawler.exit
cvtool
DODO
hsitool*
ls.PR*
md.checker.bart
mpra
NOTES*
TAGS
tcc
tcc_report.txt
test.d
ztool*
*.cfg
*.db
*.log
*.log.?
*.stderr
*.stdout
*.out
*.py[cod]
*~
\#*
.#*
plugins/*

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
