# ------------------------------------------------------------
[crawler]

# where the plugins live
plugin-dir = ./plugins

# where to write log information
logpath    = /var/log/hpss_crawl.log

# max size of a log file before rotating it
logsize    = 5mb

# max number of log files to keep
logmax     = 5

# addresses to receive e-mail about significant events
notify-e-mail = tbarron@ornl.gov, tusculum@gmail.com

# program to run on significant events
notify-program = command line

# The heartbeat option tells the crawler how often it must
# write something to the log file to prove it's still running
heartbeat = 10s

# ------------------------------------------------------------
# the section name matches the name of a plugin module
[plugin-A]
# The default value of fire is 'no'. For a plugin to fire, it must
# have a 'fire' option with the value 'yes', 'true', or 1
fire = no

# how long to sleep between runs of this plugin (1 hour)
# other interval names: second, minute, day, week, month, year
# With no specifier, the number is taken as a count of seconds
# mutually exclusive with schedule
frequency     = 1 hour

# crontab-style schedule: minute hour month-day month week-day
# mutually exclusive with frequency
schedule      = * 2,3,4 1 * *

# max number of operations in a single run
operations    = 20

# read filename and include any configuration information found there
include       = filename

# This plugin can decide to pass file paths along to downstream
# plugins for further operations
downstream    = plugin-name

# Arbitrary config items can be added to a plugin's section to support any needs
# it has
unique_option = foobar

# ------------------------------------------------------------
[dbi]
# database type. Can be 'sqlite', 'mysql', or 'db2'
# dbtype = sqlite

# database name. 
## dbtype == 'sqlite'  ==> dbname is a file name
## dbtype == 'mysql'   ==> dbname is a database name
## dbtype == 'db2'     ==> dbname is a database name
# dbname = ./crawl.db

# table name prefix. E.g., 'dev_', 'demo', 'prod'
## The trailing underscore is optional and will be added if not
## present so table names will look like, e.g., 'dev_checkables',
## 'prod_dimension', etc.
# tbl_prefix = dev

# dbtype = mysql
# host = localhost
# dbname = crawl
# username = soandso
# password = whatever

# dbtype = db2
# host = localhost
# dbname = crawl
# username = soandso
# password = whatever
