argparse
# MySQL must already be installed on the target machine
MySQL-python
# IBM_DB_HOME must point to a DB2 installation, eg., /opt/ibm/db2/V10.5
ibm-db
mock
pep8
pexpect==3.3
pytest
cov-core
coverage
pytest-cov
